{% extends 'base.html' %}

{% block body %}
<div>
    <p>STUDY.win support your efforts.</p>
    <h1>STUDY.win</h1>
    <p><span>勉強を頑張る君を応援する</span><span>プラットフォーム</span></p>
</div>

<textbox>
    <h2>Hi! 👋</h2>
    <p>STUDY.win へようこそ！<br>これは勉強を頑張る君を応援する場所。</p>
    <p>勉強する上で、「効率」はとても大切。<br>そんな「効率」を上げるために用意したのが、</p>
</textbox>
<ul>
    <li>「スケジュール管理」</li>
    <li>「タイマー」</li>
    <li>「本番カウントダウン」</li>
</ul>
<textbox>
    <p>この3つを使い、勉強に取り組んでほしい。</p>
    <p>そうすると、気がついたら習慣的な学習が身についているよ！</p>
</textbox>

<footer>
    <h3>STUDY.win</h3>
    <p>頑張る君を応援するプラットフォーム</p>
    <hr>
    <p>Copyright ©︎ 2022 gamma All Rights Reserved.</p>
</footer>

<brbox>
    <br>
</brbox>

{% endblock %}
